html {
    box-sizing: border-box;
    font-weight: normal;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Base font size for different screen sizes */
@media screen and (min-width: 1920px) {
  html {
    font-size: 30px;
  }
}
@media screen and (min-width: 2560px) {
  html {
    font-size: 40px;
  }
}
@media screen and (min-width: 3840px) {
  html {
    font-size: 60px;
  }
}
@media screen and (min-width: 7680px) {
  html {
    font-size: 120px;
  }
}

html, body {
    margin: 0;
    padding: 0;
}
header {
    background: #fff;
    box-shadow: 0 .5rem 1rem #999;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
}
.nav {
    display: flex;
    justify-content: center;
    max-width: 75rem; /* 1200px */
    margin: 0 auto;
}
.nav__item {
    color: #000;
    cursor: pointer;
    display: block;
    line-height: 1.5rem;
    font-family: Staatliches, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.2rem 2rem;
    text-align: center;
    transition: all .3s ease;
}
.nav__item:hover {
    background-color:  rgba(33, 33, 33, 0.4);
    transition: all .3s ease;
}
.nav__item--active {
    background-color: rgba(102, 102, 102, 0.4);
    transition: all .3s ease;
}
.main {
    max-width: 75rem; /* 1200px */
    margin: 8rem auto 2rem;
}
.main__imgContainer__figure {
    display: flex;
    align-items: center;
    margin: 0 0 2rem;
}
.main__imgContainer__figure__img {
    width: 50%;
    height: 30rem;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem #999;
}
.main__imgContainer__figure__figcaption {
    width: 50%;
    text-align: center;
    font-family: Nunito, sans-serif;
    font-size: 2rem;
}
.main__imgContainer__figure__figcaption__strong {
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
    margin-left: 0.25rem;
}
.main__home {
   line-height: 0;
   
   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;

   margin: 4rem 0 0;
}
.main__home .main__imgContainer__figure__img {
    width: 100%;
    height: 15rem;
    position: relative;
    box-shadow: none;
}
.main__home .main__imgContainer__figure__img:before {
    content: '';
    width: calc(100% + 2rem);
    height: 18rem;
    position: absolute;
    top: -1rem;
    left: -1rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem #999;
    border-radius: .25rem;
    z-index: -1;
}

/* For small screen */
@media screen and (max-width: 600px) {
    .nav {
        background: rgba(51, 51, 51, 0.96);
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        position: fixed;
        top: 0;
        right: -100vw;
        width: 100vw;
        height: 100vh;
        padding: 4rem 1rem;
        opacity: 0;
        transition: all 1.2s ease;
    }
    .nav__item {
        color: #fff;
        border-radius: .25rem;
        text-align: left;
    }
    .nav__item--active {
        color: #999;
    }
    .nav--open {
        right: 0;
        opacity: 1;
        transition: all 1.2s ease;
    }
    .nav__toggleButton {
        position: absolute;
        top: 1rem;
        left: 1rem;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        background: gray;
        border-radius: .25rem;
        transition: background .3s ease-in;
    }
    .nav__toggleIcon, 
    .nav__toggleIcon:before, 
    .nav__toggleIcon:after {
        content: '';
        position: absolute;
        display: block;
        width: 1.75rem;
        height: .25rem;
        border-radius: .25rem;
        background: #fff;
        transition: background .3s ease-in;
    }
    .nav__toggleIcon {
        top: 1.125rem;
        left: .375rem;
        transition: transform .3s ease-in;
    }
    .nav__toggleIcon:before {
        top: -.625rem;
        transition: top .3s ease-in .3s, transform .3s ease-in;
    }
    .nav__toggleIcon:after {
        top: .625rem;
        transition: top .3s ease-in .3s;
    }
    .nav--open .nav__toggleButton {
        background: rgba(0, 0, 0, 0);
        transition: background .3s ease-in;
    }
    .nav--open .nav__toggleIcon {
        transform: rotate(-135deg);
        transition: transform .3s ease-in .3s;
    }
    .nav--open .nav__toggleIcon:before {
        top: 0;
        transform: rotate(270deg);
        transition: top .3s ease-in, transform .3s ease-in .3s;
    }
    .nav--open .nav__toggleIcon:after {
        top: 0;
        opacity: 0;
        transition: top .3s ease-in, opacity .3s ease-in .3s;
    }
    .main {
        margin: 5rem .25rem .25rem;
    }
    .main__imgContainer__figure {
        flex-direction: column;
    }
    .main__imgContainer__figure__img,
    .main__imgContainer__figure__figcaption {
        width: 100%;
    }
    .main__home {
         -webkit-column-count: 2;
         -webkit-column-gap:   0px;
         -moz-column-count:    2;
         -moz-column-gap:      0px;
         column-count:         2;
         column-gap:           0px;

         margin: 0;
    }
}